<div class="container">
  <div class='row mt-5'>
    <h3>コミュニティ一覧</h3>
  </div>
</div>

<div class="container">
  <div class='row mt-3'>
    <% @communities.each do |community| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= community.name %></h5>
            <p class="card-text"><%= community.explanation %></p>
            <%= link_to "掲示板へ", user_community_post_boards_path(community), class: "btn btn-primary" %>
            <%= render 'user/favorites/favorite', community: community %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>