<table class="table">
  <tr>
    <th class="col-4">コミュニティ名</th>
    <th class="col-4">説明</th>
  </tr>
  <tbody>
    <% @favorite_communities.each do |community| %>
      <tr>
        <td class="col-4"><%= community.name %></td>
        <td><%= community.explanation %></td>
      </tr>
    <% end %>
  </tbody>
</table>