<div class="text-center">
  <h2>Member</h2>
  <div class="mx-auto" style="width: 80%">
  <table class="table">
    <thead>
      <tr>
        <th>icon</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(140,140) %></td>
          <td><%= user.name %></td>
          <td>
            <%= link_to "Member Info", user_user_path(user.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>