<div class="container p-4 d-flex justify-content-center align-items-center">
  <div class="col text-center">
    <h1>About</h1>
    <div class="text-center">
       <div class="mx-auto">
          <p>HP見てくれてありがとうございます。<br>
          私たちは、Redi for kidsという子育て世代のパパとママを<br>
          応援できるサイトの運営をしています。<br>
          子供達もそうですが、パパとママもわからない事だらけです。<br>
          そんな皆さん達と交流できる「なんでんかんでんミーティング」を<br>
          立ち上げました。皆さんでシェアして子育てを楽しく出来ればと思っています<br>
          </p>
        <%= image_tag "panda3.png",:size =>'450x600',class: 'pomuo' %>
    </div>
  </div>
</div>